<h1><%= @title %></h1>

<p>
  If you're having any problems ordering your uniforms with this web based system,
  please get in touch with us at:
</p>

<h2>Freephone. 0800 146 235</h2>
<h2>Email. <%= link_to "info@monsoonmarketing.co.uk", "info@monsoonmarketing.co.uk" %></h2>