<!doctype html>
<html lang="en">

  <head>
    <title>A Brandon Hire branch has placed a drinks order</title>
    <meta charset="utf-8">
    <meta name="author" content="Drinkmaster - David Dean" />
    <meta name="description" content="Brandon Hire ordering system" />
  </head>
  
  <body>
    
    <h1>A Brandon Hire branch has placed a drinks order</h1>
    
    <p>Please take a look and check if this order is OK to be fulfilled by Drinkmaster</p>
    <p>If it is approved, please forward this email to <%= mail_to "sales@drinkmaster.co.uk", "sales@drinkmaster.co.uk" %></p>
    
    <p>Branch ref: <%= @order.branch %></p>

    <p>Order details</p>
    <ul>
      <% for li in @order.line_items %>
      <li><%= li.quantity %> x <%= li.product.name %></li>
      <% end %>
    </ul>
    
  </body>
  
</html>